<div class="msg">
  <p class="msg-user"><%= message.user.username %></p>
  <p class="msg-content">
    <% message.split_content.each do |line| %>
      <span class="msg-line"><%= line %></span>
    <% end %>
  </p>
</div>
