<div class="masthead clearfix">
  <div class="inner">
    <%= link_to root_path do %>
      <img class="masthead-brand" src="/images/chit-chat-logo-white.svg" alt="" />
    <% end %>
    <nav class="nav nav-masthead">
      <% if user_signed_in? %>
        <%= render "shared/masthead_partials/user_signed_in" %>
      <% else %>
        <%= render "shared/masthead_partials/user_signed_out" %>
      <% end %>
    </nav>
  </div>
</div>
