<div class="jumbotron main-cta">
  <h1>Chat with ChitChat</h1>
  <p class="lead main-desc">ChitChat is a real-time chat app built with WebSockets and Ruby On Rails, utilizing the all new Action Cable feature added in Rails 5. </p>
  <p class="lead">
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-lg btn-success" %>
    <%= link_to "Sign In", new_user_session_path, class: "btn btn-lg btn-warning" %>
  </p>
</div>
