.container-full {
  @include make-container($gutter: 0);
}

.content-wrapper {
  @include make-row($gutter: 0);
  height: calc(100vh - 4rem);
  @include media-breakpoint-up(lg) {
    height: calc(100vh - 6.25rem);
  }
}

.side-bar {
  @include make-col-ready(2, $gutter: 0);
  @include make-col(2, $gutter: 0);
  display: none;
  background: #eee;
  color: #555;
  height: 100%;
  padding: 2rem 0 0 2rem;
  border-right: solid 1px #ddd;
  @include media-breakpoint-up(lg) {
    display: block;
  }
}

.content {
  @include make-col-ready(12, $gutter: 0);
  @include make-col(12, $gutter: 0);
  background: #fff;
  color: #555;
  @include media-breakpoint-up(lg) {
    @include make-col(10, $gutter: 0);
  }
}

.wrap {
  background-color: #fff;
  padding: 2rem;
}

.row-ng {
  @include make-row($gutter: 0);
}

.col-md-6-ng {
  @include make-col-ready(6, $gutter: 0);
  @include make-col(12, $gutter: 0);
  @include media-breakpoint-up(md) {
    @include make-col(6, $gutter: 0);
  }
}

.chats-list {
  @extend .table;
  width: 100%;
}

.chat-list {
  width: 100%;
}

.chat-wrap {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.chat-header {
  padding: 0.75rem;
  border-bottom: solid 1px #ddd;
  color: #aaa;
}

.input-wrap {
  margin-top: 1rem;
  padding: 0 1rem 0 1rem;
}
