<img id="bg-overlay" src="/images/chit-chat-bg.svg" alt="" />

<div class="site-wrapper">
  <%= render 'shared/masthead' %>
  <%= render 'shared/flash_msg' %>
  <%= yield %>
  <%= render 'shared/mastfoot' %>
</div>
